@import '../../styles/variables';

.home-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    ul {
        padding-inline-start: $space-xxlg;
    }
    li {
        margin-bottom: $space-xs;
        &::before {
            content: "\2022";
            color: $blue;
            font-weight: bold;
            display: inline-block;
            width: 24px;
            margin-left: -24px;
            font-size: 40px;
            vertical-align: bottom;
        }
    }

}
.home-wrapper * {
    line-height: $line-height;
}
.articles {
    width: 100%;
    position: relative;
}
.main-title {
    width: calc(100% + 80px);
    margin: -88px -40px 0;
    height: 800px;
    background-image: url('../../public/whiteBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 $space-sm;
    @media (max-width: $small-device) {
        margin: -64px -16px 0;
        height: 400px;
        width: calc(100% + 32px);
    }
}
.main-title-text {
    font-size: 60px;
    line-height: $line-height;
    text-align: center;
    margin-bottom: $space-sm;
    margin-top: 64px;
    max-width: 1100px;
    @media (max-width: $small-device) {
        font-size: 30px;
    }
}
.cloud-container {
    width: 130px;
    height: 110px;
    margin-bottom: $space-sm;
    margin-top: $space-sm;
}
.thunder-cloud-title {
    width: 100%;
}
.button-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: $space-md 0;
}
.be-icon {
    color: $blue;
    font-size: 130px;
}
.be-icon-section {
    display: flex;
    align-items: center;
    span {
        margin-left: $space-sm;
        font-size: 30px;
        color: $blue;
        font-weight: bold;
    }
}
.be-card {
    background: $white;
    border-radius: 15px;
    box-shadow: -$space-xs $space-xs $space-xs $grey-border;
    border: 1px solid $grey-border;
    padding: $space-md $space-sm;
    margin: $space-md 0;
    width: 100%;
}
.be-card-short {
    width: 30%;
    @media (max-width: $small-device) {
        width: 100%;
    }
}
.mobile {
    display: none;
    @media (max-width: $small-device) {
        display: inherit;
    }
}
.desktop {
    display: inherit;
    @media (max-width: $small-device) {
        display: none;
    }
}
.section-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: $small-device) {
        width: 100%;
    }
}
.inline-image {
    width: 100%;
    @media (max-width: $small-device) {
        width: 100%;
        margin: 0;
    }
}
.be-cards {
    display: flex;
    justify-content: space-around;
    @media (max-width: $small-device) {
        flex-direction: column;
    }
}
.img-and-info {
    display: flex;
    position: relative;
    width: 100%;
    margin: $space-xxlg 0;
    @media (max-width: $small-device) {
        display: inherit;
        margin: 0;
    }
    div:first-child {
        width: 50%;
        @media (max-width: $small-device) {
            width: 100%;
        }
    }
}
.section-info-left {
    align-items: flex-start;
}
.section-info-right {
    align-items: flex-end;
}
.img-and-info-left {
    flex-direction: row-reverse;
}
.img-and-info-right {
}
