@import '../../styles/variables';

.footer {
    display: flex;
    padding: $space-lg $space-sm;
    color: $white;
    background: $black-two;
    @media (max-width: $small-device) {
        flex-direction: column;
    }
    .contact-us {
        margin-bottom: $space-xs;
    }
    li {
        margin-bottom: $space-sm;
        a {
            text-decoration: underline;
        }
    }
    .icons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .icon {
            font-size: 40px;
        }
    }
    .copyright {
        font-size: 12px;
    }
    .image-by {
        font-size: 12px;
        margin-bottom: 4px;
    }
}
