@import '../../styles/variables';

.blog-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    a {
        color: $blue;
        text-decoration: underline;
    }
    @media (max-width: $small-device) {
        align-items: flex-start;
    }
}
