$white: #FFFFFF;
$black: #000000;
$blue-dark: #082257;
$blue: #1e4aa3;
$blue-light: #437DF0;
$yellow: #f4b956;
$black-two: #202020;
$grey-border: #d3d3d3;
$red: #dd4a68;
$green: #4CAF50;

$line-height: 1.5em;
$space-xs: 8px;
$space-sm: 16px;
$space-md: 24px;
$space-lg: 32px;
$space-xlg: 40px;
$space-xxlg: 48px;

$small-device: 980px;
